<div class="head">
			<div class="head_c">
				<div class="head_cc">
					<div class="head_cc_l">
						<a href="__APP__/Login/login.html">登录</a>
					</div>
					<div class="head_cc_l1">
						<a href="__APP__/Reg/index1.html">注册</a>
					</div>
					<div class="head_cc_l2">
						<a href="#">搜索</a>
					</div>
					<div class="head_cc_l3">
						<span><a href="__APP__/Index/index.html">Chinese</a></span> or <a href="__APP__/IndexE/index.html">English</a>
					</div>
				</div>
			</div>
		</div>

		<div class="list">
			<div class="list_herf"></div>
			<div class="list_logo">
				<img src="__HIMG__/logo.png"/>
			</div>
			<div class="list_logo1">
				<img src="__HIMG__/wb9.png"/>
				<span>深圳美鸣科技有限公司</span>
			</div>
			<div class="list_login"></div>
			<ul class="list_ul">
				<li class="list_li"><a href="__APP__/Index/index.html">首页</a></li>
				<li class="list_li"><a href="__APP__/Cpzx/index.html">产品中心</a></li>
				<li class="list_li"><a href="__APP__/Jjfa/index.html">解决方案</a></li>
				<li class="list_li"><a href="__APP__/Mmtm/index.html">美鸣贴面</a></li>
				<li class="list_li"><a href="__APP__/Khzq/index.html">客户专区</a></li>
				<li class="list_li"><a href="__APP__/Ddcx/index.html">订单查询</a></li>
				<li class="list_li"><a href="__APP__/Xwzx/index.html">新闻中心</a></li>
				<li class="list_li"><a href="__APP__/Qyzx/index.html">企业信息</a></li>
			</ul>
		</div>