	<div class="fgs_l">
		<ul>
			<li class="fgs_l_li">
				<a href="__APP__/Qyzx/index.html">联系我们</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/Qyzx/geju.html">全国格局下的美鸣贴面</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/Qyzx/school.html">美鸣商学院</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/Qyzx/change.html">工作机会与职业发展</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/Qyzx/network.html">美鸣全国网络</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/Qyzx/fgs.html">各分公司</a>
			</li>
		</ul>
	</div>