<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="__HCSS__/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="__HCSS__/css.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="__HJS__/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<include file="PublicE:head" />

		<div class="ny_banner">
			<img src="__PUBLIC__/upload/{$banner.banner_img}"/>
		</div>
		<div class="cp_bt">
			<i>&nbsp;</i><span>Product Center</span><i>&nbsp;</i>
		</div>
		<div class="cp_c">
			For a long time, the United States, the company is committed to become the denture suppliers and oral problems the country's leading system service provider, adhere to the "science and technology makes quality, quality of service life" concept, through the "supply management consulting + + dental education and training" model, focusing on "health" and "education consulting industry two around four plates of medical supplies, asset custody, management consulting, knowledge output, to create" professional customers, let more confident smile "brand experience, achieve sustained profit growth, provide long-term stable value returns to shareholders.
		</div>
		<ul class="cp_hul">
			<li class="cp_hli">The zirconium oxide series</li>
			<li class="cp_hli">Sing glass ceramic series</li>
			<li class="cp_hli">Mei Ming planted series</li>
			<li class="cp_hli">Meiming Precision</li>
			<li class="cp_hli">Mei Ming pure titanium</li>
		</ul>
		<ul>


			<li class="cp_hli_con">
				<div class="cpny_bthd">
					<span>The zirconium oxide series</span>
				</div>
				<ul class="cp_ul">
					<foreach name="mm1" item="v">
					<li class="cp_li">
						<a href="__APP__/CpzxE/index1/id/{$v.id}.html"><img src="__PUBLIC__/upload/{$v.mmtm_img1}"/></a>
					</li>
					</foreach>
				</ul>
			</li>


			<li class="cp_hli_con">
				<div class="cpny_bthd">
					<span>Sing glass ceramic series</span>
				</div>
				<ul class="cp_ul">
					<foreach name="mm2" item="v">
					<li class="cp_li">
						<a href="__APP__/CpzxE/index1/id/{$v.id}.html"><img src="__PUBLIC__/upload/{$v.mmtm_img1}"/></a>
					</li>
					</foreach>
				</ul>
			</li>
			<li class="cp_hli_con">
				<div class="cpny_bthd">
					<span>Mei Ming planted series</span>
				</div>
				<ul class="cp_ul">
					
					<foreach name="mm3" item="v">
					<li class="cp_li">
						<a href="__APP__/CpzxE/index1/id/{$v.id}.html"><img src="__PUBLIC__/upload/{$v.mmtm_img1}"/></a>
					</li>
					</foreach>
				</ul>
			</li>
			<li class="cp_hli_con">
				<div class="cpny_bthd">
					<span>Meiming Precision</span>
				</div>
				<ul class="cp_ul">
					
					<foreach name="mm4" item="v">
					<li class="cp_li">
						<a href="__APP__/CpzxE/index1/id/{$v.id}.html"><img src="__PUBLIC__/upload/{$v.mmtm_img1}"/></a>
					</li>
					</foreach>
				</ul>
			</li>
			<li class="cp_hli_con">
				<div class="cpny_bthd">
					<span>Mei Ming pure titanium</span>
				</div>
				<ul class="cp_ul">
					<foreach name="mm5" item="v">
					<li class="cp_li">
						<a href="__APP__/CpzxE/index1/id/{$v.id}.html"><img src="__PUBLIC__/upload/{$v.mmtm_img1}"/></a>
					</li>
					</foreach>
				</ul>
			</li>
		</ul>
		<include file="PublicE:footer" />
		
		<script src="__HJS__/js.js" type="text/javascript" charset="utf-8"></script>
		<script src="__HJS__/swiper.jquery.min.js" type="text/javascript"></script>
		
		<script>
		    var swiper = new Swiper('.swiper-container1', {
		        pagination: '.swiper-pagination1',
		        nextButton: '.swiper-button-next',
		        prevButton: '.swiper-button-prev',
		        paginationClickable: true,
		        spaceBetween: 0,
		        centeredSlides: true,
		        autoplay: 5000,
		        autoplayDisableOnInteraction: false
		    });
		</script>
	</body>
</html>
