<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="__HCSS__/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="__HCSS__/css.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="__HJS__/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<include file="Public:head" />
		<div class="ny_banner">
			<img src="__PUBLIC__/upload/{$banner.banner_img}"/>
		</div>
		<div class="ny_con">
			<div class="cpny_bthd">
				<span>公司简介 </span>
			</div>
			<div class="ny_c">
				<div class="ny_c_h">
					<span>公司介绍 </span><i>/ Veneer</i>
				</div>
				<div class="ny_c_c">
					&emsp;&emsp;深圳美鸣齿科器械有限公司是行业内领先的义齿供应商，专注于全瓷牙领域，坚持稳健经营、持续创新、开放合作，为门诊提供优质的牙齿和高性价比的解决方案。美鸣公司成立于2005
年，总部设在深圳，现已在山东、山西、内蒙、湖南、四川、陕西、深圳成立分公司。目前，美鸣公司已经成长为北方规模最大的高端义齿生产企业，配备国际一流的义齿加工设备。公司旗
下拥有多个高端义齿品牌，其中“美鸣”、“洛诗”已是业内知名品牌。先进成熟的营销模式取得了巨大成功，公司未来5年将抓住行业风口浪潮，进行全国市场开发的战略布局，做坚实的行
业引领者。
				</div>
				<ul class="fgs_ul">
					<li class="fgs_li">
						<img src="__HIMG__/ny1.jpg"/>
						<div class="fgs_li_c">
							<span>公司愿景</span><i>：让天下没有难看的牙齿</i>
						</div>
					</li>
					<li class="fgs_li">
						<img src="__HIMG__/ny2.jpg"/>
						<div class="fgs_li_c">
							<span>公司使命</span><i>：致力于成为口腔行业一流的综合解决方案服务商 </i>
						</div>
					</li>
					<li class="fgs_li">
						<img src="__HIMG__/ny3.jpg"/>
						<div class="fgs_li_c">
							<span>企业精神</span><i>：脚踏实地 稳健创新</i>
						</div>
					</li>
				</ul>
				<div class="fgs">

				<include file="Public:left" />
				
					<div class="fgs_r">
						<div class="lx_h">
							联系我们
						</div>
						<div class="lx_hc">
							告诉我们您们想要的，我们在努力，坚持竭尽全力为客户提供优质服务
						</div>
						<ul class="lx_ul">
							<li class="lx_li">
								<div class="lx_li_h"></div>
								<div>
									座机：0755-27695552
								</div>
							</li>
							<li class="lx_li">
								<div class="lx_li_h1"></div>
								<div>
									地址：深圳市宝安西乡前进二路航城工业区富鑫林工业园D栋3楼
								</div>
							</li>
							<li class="lx_li">
								<div class="lx_li_h2"></div>
								<div>
									邮箱：www.765618.com
								</div>
							</li>
						</ul>
						<!--百度地图API start-->
						<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=pS9g3rC04mgpczklPjFirfm5U7UQQZGP&services=&t=20170703123905"></script>
						<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
						<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
						<div id="allmap"></div>
						<script src="__HJS__/baidu.js" type="text/javascript" charset="utf-8"></script>
						<!---百度地图API end-->
					</div>
				</div>
			</div>
		</div>
		
		<div class="lyxx">
			<div class="lyxx_con">
				<div class="lyxx_h">
					发表您的留言：
				</div>

				<form action="__APP__/Qyzx/message" method="post" class="lx_form">
					<div class="lx_form_c">
						<div class="lx_form_cc">
							<label for="">姓名：</label>
							<input type="text" name="name" id="name" value="" />
						</div>
						<div class="lx_form_cc">
							<label for="">邮箱：</label>
							<input type="text" name="email" id="email" value="" />
						</div>
						<div class="lx_form_cc">
							<label for="">电话：</label>
							<input type="text" name="tel" id="tel" value="" />
						</div>
					</div>
					<div class="lx_form_c">
						<div class="lx_form_cc1">
							<label for="">内容：</label>
							<textarea name="content" id="contents" rows="" cols="" class="lx_tea" placeholder="留言需审核后显示"></textarea>
						</div>
					</div>

					<script type="text/javascript">
		              function checkFile(){
		              	var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
		                var name=$("#name").val();
		                var email=$("#email").val();
		                var tel=$("#tel").val();
		                var contents=$("#contents").val();
		                if(name==""){
		                  alert("请填写姓名");
		                  return false;
		                }else if(email==""){
		                  alert("请添加邮箱");
		                  return false;
		                }else if(!reg.test(email)){
	                      alert("邮箱格式错误");
	                      return false;
	                    }else if(tel==""){
		                  alert("请添加联系方式");
		                  return false;
		                }else if(contents==""){
		                  alert("请添加内容");
		                  return false;
		                }
		              }
		            </script>
						<input type="submit" onclick="return checkFile()" value="提交" class="sub" />
				</form>

			</div>
		</div>
		
		<include file="Public:footer" />
		<script src="__HJS__/js.js" type="text/javascript" charset="utf-8"></script>
		<script src="__HJS__/swiper.jquery.min.js" type="text/javascript"></script>
		
		<script>
		    var swiper = new Swiper('.swiper-container1', {
		        pagination: '.swiper-pagination1',
		        nextButton: '.swiper-button-next',
		        prevButton: '.swiper-button-prev',
		        paginationClickable: true,
		        spaceBetween: 0,
		        centeredSlides: true,
		        autoplay: 5000,
		        autoplayDisableOnInteraction: false
		    });
		</script>
	</body>
</html>
