<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="__HCSS__/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="__HCSS__/css.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="__HJS__/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<include file="Public:head" />
		<div class="cpny_bt">
			{$school.title}
		</div>
		<div class="cpny_bt_hx"></div>
		<div class="news_time">
			发布时间:{:date("Y-m-d",$school['time'])}
		</div>
		<div class="cp_text">
			&emsp;&emsp;{$school.content}
		</div>
		
		
		<include file="Public:footer" />
		<script src="__HJS__/js.js" type="text/javascript" charset="utf-8"></script>
		<script src="__HJS__/swiper.jquery.min.js" type="text/javascript"></script>
		
		<script>
		    var swiper = new Swiper('.swiper-container1', {
		        pagination: '.swiper-pagination1',
		        nextButton: '.swiper-button-next',
		        prevButton: '.swiper-button-prev',
		        paginationClickable: true,
		        spaceBetween: 0,
		        centeredSlides: true,
		        autoplay: 5000,
		        autoplayDisableOnInteraction: false
		    });
		</script>
	</body>
</html>
