	<div class="fgs_l">
		<ul>
			<li class="fgs_l_li">
				<a href="__APP__/QyzxE/index.html">Contact us</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/QyzxE/geju.html">Veneer under national pattern</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/QyzxE/school.html">MeiMing Business School</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/QyzxE/change.html">Job opportunities and career development</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/QyzxE/network.html">MeiMing National network</a>
			</li>
			<li class="fgs_l_li">
				<a href="__APP__/QyzxE/fgs.html">All branches</a>
			</li>
		</ul>
	</div>