<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="__HCSS__/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="__HCSS__/css.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="__HJS__/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="whead hidden">
			登录
			<div class="whead_l">
				
			</div>
		</div>
		<div class="login">
			<div class="login_con">
				<div class="login_h">
					Welcome MeiMing Technology
				</div>
				<div class="login_hx"></div>
				<form action="__APP__/LoginE/login_do" method="post" class="login_form">
					<div class="login_warp">
						<label class="login_warp_l">
							账号
						</label>
						<input type="text" name="email" id="email" placeholder="User name" value="" class="login_inp login_bg1 placeholdercolor" />
					</div>
					<div class="login_warp">
						<label class="login_warp_l">
							密码
						</label>
						<input type="password" name="password" id="password" placeholder="Password" value="" class="login_inp login_bg2 placeholdercolor" />
					</div>

					<script type="text/javascript">
	                  function checkFile(){
	                    var email=$("#email").val();
	                    var password=$("#password").val();
	                    if(email==""){
	                      alert("请填写用户名");
	                      return false;
	                    }else if(password==""){
	                      alert("请填写密码");
	                      return false;
	                    }
	                  }
	                </script>

					<input type="submit" onclick="return checkFile()" value="登录" class="login_sub"/>
				</form>
				<div class="login_herf">
					<span class="login_herf_h"><a href="#">Forgot password?</a></span><i>&nbsp;</i><span class="login_herf_red"><a href="__APP__/RegE/index1.html">Free registration</a></span>
				</div>
			</div>
		</div>
		<script src="__HJS__/js.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
