<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="__HCSS__/swiper.min.css">
		<link rel="stylesheet" href="__HCSS__/animate.min.css">
		<link rel="stylesheet" type="text/css" href="__HCSS__/css.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="__HJS__/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__HJS__/wow.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<include file="Public:head" />
		<div class="ny_banner">
			<img src="__PUBLIC__/upload/{$banner.banner_img}"/>
		</div>
		<div class="ny_con">
			<div class="bt1">
				<span>美鸣贴面 </span><em>/ VENEER</em>
			</div>
			<div class="cp_c">
				美鸣贴面用于牙齿美容修复技术，覆盖部分牙面解决牙体表面缺损、着色牙、变色牙等，粘结覆盖表面恢复牙体形态和色泽
				<p>THE UTILITY MODEL RELATES TO A FACIAL VENEER FOR BEAUTIFYING AND REPAIRING TEETH. THE UTILITY MODEL COVERS SOME TOOTH
				<br /> SURFACES, SOLVES THE DEFECTS OF THE TEETH SURFACE, COLORED TEETH,
 				<br /> DISCOLORED TEETH, ETC., AND THE ADHESIVE COVERS THE SURFACE TO RESTORE THE FORM AND </p>
			</div>
			<ul class="tm_ul">
				<li class="tm_li wow fadeInUp">
					<img src="__HIMG__/js1.jpg"/>
					<div class="tm_li_h">
						A : 轻松快捷
					</div>
					<div class="tm_li_c">
						采用烤瓷牙分龄修复方案
						<br />强调结合美学理念修复
						<br />定制个性化解决方案
					</div>
				</li>
				<li class="tm_li wow fadeInUp">
					<img src="__HIMG__/js2.jpg"/>
					<div class="tm_li_h">
						B : 自然美观
					</div>
					<div class="tm_li_c">
						策底解决孤星正畸形
						<br />准确调整牙颚关系
						<br />使牙齿咬颚关系大道最佳状态
					</div>
				</li>
				<li class="tm_li wow fadeInUp">
					<img src="__HIMG__/js3.jpg"/>
					<div class="tm_li_h">
						C : 持久舒适
					</div>
					<div class="tm_li_c">
						利用多种智能正畸技术
						<br />遵循科学原理和美学原则
						<br />重新排列牙齿，悄然改变脸型
					</div>
				</li>
				<li class="tm_li wow fadeInUp">
					<img src="__HIMG__/js4.jpg"/>
					<div class="tm_li_h">
						D : 相容性好
					</div>
					<div class="tm_li_c">
						采用国际先进种植体
						<br />确保种植牙的品质，一次成型
						<br />让口腔患者舒适享受无痛体验
					</div>
				</li>
			</ul>
		</div>
		<div class="tm_bg">
			<div class="tm_bg_c">
				<div class="tm_bg_l wow fadeInLeft">
					<img src="__HIMG__/js6.png"/>
				</div>
				<div class="tm_bg_r wow fadeInRight">
					<div class="tm_bg_r_h">
						美鸣贴面的优势
					</div>
					<div class="tm_bg_r_c">
						最大限度的保护了牙体组织，不会刺激牙龈，可以保持天然牙齿长期的健康。
<br />颜色效果更好--牙体预备时可以平牙龈即可，对牙龈的刺激非常小，也不会存在金属瓷烤牙的金属离子使得牙龈变色的问题。
<br />美观、效果持久--具有良好的透明性和遮光性，因不含有任何金属成分，美学效果绝佳，不会出现烤瓷牙常见的”黑线”现象，瓷贴面本身的高耐磨性和不着色可以达到永久的美白效果。
<br />舒适不脱落--瓷贴面修复保存大部分甚至全部舌侧的形态。
					</div>
				</div>
			</div>
		</div>
		<div class="bt1">
			<span>产品体验 </span><em>/ EXPERIENCE</em>
		</div>
		<div class="cp_c cp_js">
			公司建成于2001年。公司之初，就志在“建机及各式异形工亚洲最好的医学中心”。
		</div>
		<div class="tm_ty">
			<div class="swiper-container swiper-container3"><!--移动滚动-->
				    <div class="swiper-wrapper">
						<foreach name="img" item="v">
				        <div class="swiper-slide">
				        	<div class="tm_ty_li">
								<img src="__PUBLIC__/upload/{$v.img}"/>
							</div>
				        </div>
						</foreach>
				    </div>
				    <!-- 如果需要分页器 -->
				   <!-- <div class="swiper-pagination swiper-pagination1"></div>-->
				    
				    <!-- 如果需要导航按钮 -->
				    <!--<div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>-->
				    
				    <!-- 如果需要滚动条 -->
				    <!--<div class="swiper-scrollbar"></div>-->
			</div>
		</div>
		<div class="cp_c1">
			口碑好，服务周到，打造专业领航品牌
<p>GOOD REPUTATION, GOOD SERVICE, TO CREATE A PROFESSIONAL PILOT BRAND</p>
		</div>
		<div class="msyy">
			<a href="#">马上预约</a>
		</div>
		<script type="text/javascript">
			new WOW().init();
		</script>
		<include file="Public:footer" />
		<script src="__HJS__/js.js" type="text/javascript" charset="utf-8"></script>
		<script src="__HJS__/swiper.jquery.min.js" type="text/javascript"></script>
		
		<script>
		    var swiper = new Swiper('.swiper-container1', {
		        pagination: '.swiper-pagination1',
		        nextButton: '.swiper-button-next',
		        prevButton: '.swiper-button-prev',
		        paginationClickable: true,
		        spaceBetween: 0,
		        centeredSlides: true,
		        autoplay: 5000,
		        autoplayDisableOnInteraction: false
		    });
		    var swiper3 = new Swiper('.swiper-container3', {
		       	pagination: '.swiper-pagination3',
		        slidesPerView: 3,
		        paginationClickable: true,
		        spaceBetween: 20,
		        autoplay:3000,
		        autoplayDisableOnInteraction: false
		    });
		</script>
	</body>
</html>
